// colors
$primary: #1F2640;
$secondary: #83A515;
// $background: #F2F2F2;
$heading: #2B416C;
$tab-heading: #556789;
$table-heading-text: #556789;
$table-heading-background: #F1F1F4;
$table-separator-color: #ECECEC;
$table-cell-date-stamp: #2B416C;
$table-cell-date-diff: #7788A3;
$table-cell-campaign-name: #556789;
$table-cell-campaign-region: #9CA2B7;
$table-cell-time-text: #7788A3;
$table-cell-action-text: #7788A3;

// measurements
$max-page-width: 1080px