@import "../../../../../styles/vars.scss";

.view-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  .view-price-image {
    height: 24px;
    width: 24px;
    margin-right: 6px;
  }
  .view-text {
    font-size: 14px;
    line-height: 16px;
    color: $table-cell-time-text;
  }
}
